* {
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  background-color: #302D47;
  margin: 0;
  height: 100svh;
}

.store-body{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

.text-field {
  background-color: #3F3D56;
  border-radius: 7px;
  border: none;
  outline: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #D2D2D2;
  width: 316px;
  height: 40px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 316px;
}

.text-link {
  color: #BFBFBF;
  font-size: 12px;
  text-decoration: none;
  text-transform: capitalize;
}

.deafult-button {
  background-color: #6C63FF;
  border: 1px solid #6C63FF;
  height: 40px;
  color: #FFFFFF;
  border-radius: 7px;
  cursor: pointer;
  transition: 300ms;
  width: 100%;
}

.deafult-button:hover {
  background-color: transparent;
  color: #6C63FF;
}

.button-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-title {
  color: #BFBFBF;
  font-weight: 400;
  margin: 0;
}

.create-account-wrapper {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 316px;
}

.small-button {
  width: 152px;
}

.logo-title {
  color: #FFFFFF;
  font-size: 109px;
  font-weight: 900;
  line-height: 97px;
}

.logo-sub-title {
  color: #BFBFBF;
  font-size: 26px;
  font-weight: 400;
}

.login-form {
  margin-top: 89px;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-login {
  width: 60%;
} 

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.small-logo > .logo-title {
  font-size: 51px;
  line-height: 51px;
}

.small-logo > .logo-sub-title {
  font-size: 11px;
}

.welcome-message {
  color: #BFBFBF;
  font-size: 20px;
}

.fit-content-button {
  width: fit-content;
}

.padding-x-medium {
  padding: 0 50px;
}

.padding-x-small {
  padding: 0 33px;
}

.red-button {
  background-color: #EE4C4C;
  border: 1px solid #EE4C4C;
}

.red-button:hover {
  color: #EE4C4C;
}

.header-store {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  width: 100%;
  max-width: 1320px;
  height: 100px;
}

.logo-welcome-wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
}

.register-logout-wrapper {
  display: flex;
  gap: 15px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
}

.title-search-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-wrapper {
  display: flex;
  gap: 20px;
}

.store-main {
  width: 100%;
  max-width: 1220px;
  margin-top: 107px;
}

.store-main-title {
  color: #FFFFFF;
  font-size: 32px;
}

.product-title {
  color: #BFBFBF;
  font-size: 20px;
}

.product-price {
  color: #BFBFBF;
  font-size: 20px;
}

.title-price-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 17px;
}

.product-item {
  background-color: #BFBFBF33;
  width: 30%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px;
}

.product-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.product-list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  height: 100svh;
  overflow-y: scroll;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .image-login {
    display: none;
  }

  .container-login {
    width: 100%;
  }

  .welcome-message {
    display: none;
  }

  .header-store {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .title-search-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .search-wrapper > input {
    width: 250px;
  }

  .product-list {
    flex-direction: column;
    flex-wrap: unset;
  }

  .product-item {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .search-wrapper > input {
    width: 200px;
  }
}